.add-question-page{
    background-color: rgb(45, 45, 45);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ask-question {
    align-items: center;
    background-position-x: 100%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    border-bottom-color: rgb(231, 233, 235);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(231, 233, 235);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(231, 233, 235);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(231, 233, 235);
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(231, 233, 235);
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-optical-sizing: auto;
    font-size: 13px;
    font-size-adjust: none;
    font-stretch: 100%;
    font-style: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-variation-settings: normal;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 24px;
    text-align: left;
    vertical-align: baseline;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-variation-settings: normal;
    font-weight: 400;
    line-height: 35.3px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: left;
    vertical-align: baseline;
    font-size: 1em;
    margin-bottom: 1em;
}

.question-container{
    background-color: rgb(45, 45, 45);
    border-bottom-color: rgb(74, 78, 81);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(74, 78, 81);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(74, 78, 81);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(74, 78, 81);
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 1px 3px 0px, rgba(0, 0, 0, 0.11) 0px 2px 6px 0px, rgba(0, 0, 0, 0.14) 0px 3px 8px 0px;
    box-sizing: border-box;
    color: rgb(231, 233, 235);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-optical-sizing: auto;
    font-size: 13px;
    font-size-adjust: none;
    font-stretch: 100%;
    font-style: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-variation-settings: normal;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    text-align: left;
    vertical-align: baseline
}

.title-section{
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-variation-settings: normal;
    font-weight: 600;
    line-height: 19.6167px;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    text-align: left;
    vertical-align: baseline;
}

.add-button{
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-variation-settings: normal;
    font-weight: 400;
    line-height: 15px;
    margin-bottom: 0px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 10.4px;
    padding-left: 10.4px;
    padding-right: 10.4px;
    padding-top: 10.4px;
    position: relative;
    text-align: center;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    user-select: none;
    white-space: nowrap;
}

.button-section{
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-variation-settings: normal;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: -2px;
    margin-right: -2px;
    margin-top: 32px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: left;
    vertical-align: baseline;
}